<% let postURL; %>
<% postURL = url_for(page.path) %>
<div class="post-share iconfont-archer">
    <ul class="share-box" data-href = "<%- postURL %>" data-title = "<%= page.title %>" >
        <li class="to-twitter">Share to Twitter</li>
    </ul>
</div>